@layer  layout {
    @font-face {
        font-family: "Inclusive Sans";
        src: url(../fonts/InclusiveSans-Regular.woff2) format('woff2'),
        url(../fonts/InclusiveSans-Regular.woff) format('woff');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
    }
    :root {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    header {
        width: 100dvw;
    }

    nav {
        min-width: 30rem;
        width: 100%;
        height: 6dvh;
        margin: 0;
        padding: 0;

        ul {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
        }

        li {
            list-style: none;
        }

        a,p {
            font-size: 1rem;
            font-family: "Inclusive Sans", sans-serif;
        }
    }

    footer {
        margin-block-start: 2.5rem;
        padding: 2.5em 0em;
        width: 100%;

        p {
            text-align: center;
        }

        background-color: rgba(104, 114, 87, 70);
    }

    /*Insert media query for small screens (width< 30rem) to create hamburglar menu*/
    @media (max-width: 1024px) {

    }
    #home {
        text-align: center;
        font-optical-sizing: auto;

        h1 {
            font-size: 2rem;
        }

        h2 {
            font-size: 1.5rem;
        }

        p {
            font-size: 1rem;
            font-family: "Inclusive Sans", sans-serif;
        }

        a{
            font-size: 1rem;
            font-family: "Inclusive Sans", sans-serif;
        }

        #top-content {
            max-width: 44em;
            margin: auto;
        }

        #home-columns {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
            grid-template-rows: auto;
            justify-content: center;
        }
    }

    #about {
        margin: auto 1dvw;

        h1 {
            font-size: 2rem;
            text-align: center;
        }

        p, a {
            font-family: "Inclusive Sans", sans-serif;
        }

        .grid-content {
            text-align: start;
            display: grid;
            grid-template-columns: 30% 70%;
            @media (max-width: 1024px) {
                grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
            }
        }

        aside {
            grid-column-start: 1;
            margin-inline: 3dvw;

            img {
                min-width: 200px;
                width: 15dvw;
                display: block;
                margin: auto;
            }


        }

        .not-aside {
            margin-inline: 3dvw;
        }

        @media (max-width: 860px) {
            .not-aside {
                grid-row-start: 2;
            }
        }

        .not-aside {
            -grid-column-start: 2;
        }

        img {
            width: 15dvw;
        }
    }

    #now {
        p, a {
            font-family: "Inclusive Sans", sans-serif;
        }

        img {
            height: 30dvh;
        }
    }

    #projects {
        p, a {
            font-family: "Inclusive Sans", sans-serif;
        }

        li {
            list-style: none;
        }
    }

    #404 {
        h1 {
            font-size: 2rem;
        }

        p {
            font-size: 1.5rem;
        }

        p, a {
            font-family: "Inclusive Sans", sans-serif;
        }
    }

    #resume {
        main {
            margin: 0 auto;
            max-width: 38em;
            padding: 50px;
            hyphens: auto;
            overflow-wrap: break-word;
            text-rendering: optimizeLegibility;
            font-kerning: normal;
        }

        body > ul {
            width: 100%;

            > li {
                list-style-type: none;

                ul > li {
                    list-style-type: disc;
                }
            }

        }

        ol, ul {
            padding-inline-start: 1.7em;
            margin-top: 1em;
        }

        li > ol, li > ul {
            margin-top: 0;
        }

        p {
            margin: 1em 0;
        }

        h1, h2, h3, h4, h5, h6 {
            margin-top: 1.4em;
        }

        h5, h6 {
            font-size: 1em;
            font-style: italic;
        }

        h6 {
            font-weight: normal;
        }

        table {
            margin: 1em 0;
            border-collapse: collapse;
            width: 100%;
            overflow-x: auto;
            display: block;
            font-variant-numeric: lining-nums tabular-nums;
        }

        table caption {
            margin-bottom: 0.75em;
        }

        tbody {
            margin-top: 0.5em;
        }

        th {
            padding: 0.25em 0.5em;
        }

        td {
            padding: 0.125em 0.5em 0.25em 0.5em;
            width: 50%;
        }

        header {
            margin-bottom: 4em;
            text-align: center;
        }

        span.smallcaps {
            font-variant: small-caps;
        }

        div.columns {
            display: flex;
            gap: min(4vw, 1.5em);
        }

        div.column {
            flex: auto;
            overflow-x: auto;
        }

        div.hanging-indent {
            margin-left: 1.5em;
            text-indent: -1.5em;
        }

        /* The extra [class] is a hack that increases specificity enough to
           override a similar rule in reveal.js */

        div {
            margin: auto;
            text-align: center;
        }

        @media (max-width: 600px) {
            body {
                font-size: 0.9em;
                padding: 12px;
            }

            h1 {
                font-size: 1.8em;
            }
        }
        @media print {
            body {
                font-size: 12pt;
            }

            p, h2, h3 {
                orphans: 3;
                widows: 3;
            }

            h2, h3, h4 {
                page-break-after: avoid;
            }
        }

    }

    legend {
        color: white;
    }

    label {
        color: white;
    }

    fieldset {
        display: flex;
        flex-direction: column-reverse;
    }

    input[required] + label, textarea[required] + label {
        &::after {
            content: "*" / "Required";
        }
    }

}
@layer theme {
    :root{
        --dark-nav-color:#687257ff;
        --dark-bg-color: #2e2e2f;
        --dark-heading-color: #EBF5DE;
        --dark-link-color: #C0C77A;
        --footer-text-color: #C0C77A;
        --form-validation-error-color: #FF6161;
    }

    nav {
        background-color: var(--dark-nav-color, #687257ff);
    }
    body {
        background-color: var(--dark-bg-color, #2e2e2f) ;
    }
    h1, h2, h3 {
        color: var(--dark-heading-color,#EBF5DE);
    }

    p {
        color: white;
    }
    a{
        color:  var(--dark-link-color, #C0C77A);
    }

    footer > p {
        color: var(--footer-text-color, lightgray);
    }

    #resume {
        --resume-text-color: white;
        html{
            background-color: #fdfdfd;
        }
        main{
            border: 2px dashed var(--dark-heading-color);
            width: max-content;

            td, li, a{
                color: var(--resume-text-color, white);
            }

        }

        @media print {
            --resume-text-color: black;
            html {
                background-color: white;
            }

            main{
                border: none;
            }
            h1, h2, h3, h4, h5, h6, p {
                color: var(--resume-text-color, black);
            }
            .math{
                color: var(--resume-text-color, black);
            }

            header, footer{
                display: none;
            }
        }
    }


        table{
            color: var(--resume-text-color, white);
        }
        tbody {
            border-top: 1px solid var(--resume-text-color, white);
            border-bottom: 1px solid var(--resume-text-color, white);
        }
        th {
            border-top: 1px solid var(--resume-text-color, white);
        }
        .math{
            color: var(--resume-text-color, white);
        }

        input[required]:invalid + label, textarea[required]:invalid + label{

            &::after {
                color: var(--form-validation-error-color, tomato);
            }
        }

        input:user-invalid {
            border: 2px dashed var(--form-validation-error-color, tomato);
        }

        form button {
            background-color: var(--dark-nav-color, DarkOliveGreen);
            color: white;
            border-color:var(--dark-heading-color);
            margin-block-start: 1em;
            border-radius: 5%;
            font-size: 1.5em;
            font-family: "Inclusive Sans", sans-serif;

        }

    }



